@model AlbumDeleteViewModel
@{
    ViewData["Title"] = "Create Album";
}

<div class="container p-3">
    <div class="row m-5 justify-content-center">
        <div class="col-sm-8 bg-white p-4" style="border-radius:10px">
            <form asp-controller="Album" asp-action="Delete" asp-route-id="@Model.Id" enctype="multipart/form-data" method="post" class="form-horizontal">
                <h1>Do you want to delete <b>@Model.Title</b></h1>
                <div class="form-group hover10">
                    <img id="albumPic" class="img-fluid hoverCoverPic" style="border-radius:10px" src="@Model.PictureUri" />
                    <input type="hidden" asp-for="@Model.Id" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-danger btn-brand btn-brand-big">&nbsp;Delete&nbsp;</button>
                    <button type="button"
                            class="btn btn-secondary"
                            id="cancel"
                            onclick="window.history.back()">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script>

         $(document).ready(function ()
    {
        $("#cancel").
            attr("onClick",
            "document.location.href='@Html.Raw(Url.Action("Index", "Home",
             new { id = Model.Id }))'");
    });
    </script>
}