@model List<StyleCheckboxModel>
@{
    var StylesCheckBoxes = Model;
}
@for (var i = 0; i < StylesCheckBoxes.Count; i++)
{
    <div class="dropdown-item">
        <input type="checkbox" asp-for="@StylesCheckBoxes[i].Checked" />
        <input type="hidden" asp-for="@StylesCheckBoxes[i].Text" />
        <input type="hidden" asp-for="@StylesCheckBoxes[i].Value" />
        <label asp-for="@StylesCheckBoxes[i].Checked">@StylesCheckBoxes[i].Text</label>

    </div>
}
